.category {
  width: 700px;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  background: wheat;
  margin-bottom: 10px;
  min-height: 160px;
  padding: 20px;
}

.element_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.element_text {
  margin: 0;
  width: 400px;
}

.element_author {
  margin: 0;
}

.category_btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.category_btn_edit {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.category_btn_delete {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
